<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="project915.com.crossfitx" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".HomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LandingPageActivity"
            android:label="@string/title_activity_landing_page"
            android:parentActivityName=".HomeActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="project915.com.crossfitx.HomeActivity" />
        </activity>
        <activity
            android:name=".Arms"
            android:label="@string/title_activity_arms" >
        </activity>
        <activity
            android:name=".Back"
            android:label="@string/title_activity_back" >
        </activity>
        <activity
            android:name=".Shoulders"
            android:label="@string/title_activity_shoulders" >
        </activity>
        <activity
            android:name=".Chest"
            android:label="@string/title_activity_chest" >
        </activity>
        <activity
            android:name=".Legs"
            android:label="@string/title_activity_legs" >
        </activity>
        <activity
            android:name=".bmi"
            android:label="BMI Calculator" >
        </activity>
    </application>

</manifest>
